/* style.css */

/* Ukrycie przycisków +/- */
[data-testid="stNumberInputStepUp"],
[data-testid="stNumberInputStepDown"] {
    display: none !important;
}
div[data-testid="InputInstructions"] > span:nth-child(1) {
    visibility: hidden;
}

/* Ukrycie strzalek */
input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button { 
    -webkit-appearance: none !important; 
    margin: 0 !important; 
}

/* Pole tekstowe */
input[type="number"] { 
    -moz-appearance: textfield !important; 
}
